echo venv/>.gitignore
echo .venv/>>.gitignore
echo __pycache__/>>.gitignore
echo *.py[cod]>>.gitignore
echo .env>>.gitignore
echo db.sqlite3>>.gitignore
echo db.sqlite3-journal>>.gitignore
echo staticfiles/>>.gitignore
echo media/>>.gitignore
echo .vscode/>>.gitignore
